<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serasiautoraya.slimobiledrivertracking_training">

    <application
        android:name="com.serasiautoraya.slimobiledrivertracking_training.util.AppInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.Login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.Dashboard.DashboardActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.JourneyOrder.Activity.ActivityDetailActivity"
            android:label="Detail Aktifitas"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.Profiling.ProfileActivity"
            android:label="Profil"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.ChangePassword.ChangePasswordActivity"
            android:label="Ganti Kata Sandi"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.NotificatonList.NotificationListActivity"
            android:label="Daftar Pemberitahuan"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.Fatigue.FatigueActivity"
            android:label="Tes Fatigue"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.JourneyOrder.DocumentCapture.DocumentCaptureActivity"
            android:label="Pengambilan Bukti Aktifitas"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.JourneyOrder.DocumentCapture.SigningActivity"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.OrderHistory.OrderHistoryDetail.OrderHistoryDetailActivity"
            android:label="Riwayat Order"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.TrainingQuestionnaire.QuestionnaireActivity"
            android:label="Kuisioner Training"></activity>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.MVP.JourneyOrder.PodSubmit.PodSubmitActivity"
            android:label="Pengambilan Bukti POD"/>


        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.DashboardActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.EvidenceCaptureActivity"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.ExpanseCaptureActivity"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.OrderDetailActivity"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.ChangePasswordActivity"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.FatigueInterviewActivity"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.ProveActivity"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.SignatureActivity"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.ProfileActivity"/>
        <activity android:name="com.serasiautoraya.slimobiledrivertracking_training.activity.ActionActivityActivity"/>

        <service android:name="com.serasiautoraya.slimobiledrivertracking_training.util.GPSTracker"
            android:enabled="true"
            android:exported="false"
            android:label="LocationService"
        />

        <service android:name="com.serasiautoraya.slimobiledrivertracking_training.util.FCMMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.serasiautoraya.slimobiledrivertracking_training.util.FirebaseInstanceIdServiceUtil">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!--<receiver android:name=".util.FCMMessageRestartServiceReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="FCMReceiver" >-->
                <!--</action>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name="com.serasiautoraya.slimobiledrivertracking_training.util.GPSTrackerService">
        </service>


        <receiver android:name="com.serasiautoraya.slimobiledrivertracking_training.util.GPSTrackerServiceReceiver"></receiver>

        <!--<receiver-->
            <!--android:name=".util.NetworkChangeReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>