<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serasiautoraya.slimobiledrivertracking">

    <application
        android:name=".util.AppInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DashboardActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.OrderDetailActivity"/>
        <activity android:name=".activity.ChangePasswordActivity"/>
        <activity android:name=".activity.FatigueInterviewActivity"/>
        <activity android:name=".activity.ProveActivity"/>
        <activity android:name=".activity.SignatureActivity"/>
        <activity android:name=".activity.ProfileActivity"/>


        <!--<service android:name=".util.FCMMessageService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<service android:name=".util.FirebaseInstanceIdServiceUtil">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; Set custom default icon. This is used when no icon is set for incoming notification messages.-->
     <!--See README(https://goo.gl/l4GJaQ) for more. &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
            <!--android:resource="@drawable/ic_logout_black_24dp" />-->
        <!--&lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming-->
             <!--notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_color"-->
            <!--android:resource="@color/colorAccent" />-->

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>