<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serasiautoraya.slimobiledrivertracking_training">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.AppInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.Login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.Dashboard.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.JourneyOrder.Activity.ActivityDetailActivity"
            android:label="Detail Aktifitas" />
        <activity
            android:name=".module.Profiling.ProfileActivity"
            android:label="Profil" />
        <activity
            android:name=".module.ChangePassword.ChangePasswordActivity"
            android:label="Ganti Kata Sandi" />
        <activity
            android:name=".module.NotificatonList.NotificationListActivity"
            android:label="Daftar Pemberitahuan" />
        <activity
            android:name=".module.Fatigue.FatigueActivity"
            android:label="Tes Fatigue" />
        <activity
            android:name=".module.JourneyOrder.DocumentCapture.DocumentCaptureActivity"
            android:label="Pengambilan Bukti Aktifitas"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".module.JourneyOrder.DocumentCapture.SigningActivity" />
        <activity
            android:name=".module.OrderHistory.OrderHistoryDetail.OrderHistoryDetailActivity"
            android:label="Riwayat Order" />
        <activity
            android:name=".module.TrainingQuestionnaire.QuestionnaireActivity"
            android:label="Kuisioner Training" />
        <activity
            android:name=".module.JourneyOrder.PodSubmit.PodSubmitActivity"
            android:label="Pengambilan Bukti POD" />

        <service
            android:name=".util.GPSTracker"
            android:enabled="true"
            android:exported="false"
            android:label="LocationService" />
        <service android:name=".util.FCMMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".util.FirebaseInstanceIdServiceUtil">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- <receiver android:name=".util.FCMMessageRestartServiceReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="FCMReceiver" > -->
        <!-- </action> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service android:name=".util.GPSTrackerService"></service>

        <receiver android:name=".util.GPSTrackerServiceReceiver" />

        <!-- <receiver -->
        <!-- android:name=".util.NetworkChangeReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".module.JourneyOrder.Klaim.KlaimActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>